<template>
    <div class="autocomplete">
        <input
                type="text"
                v-model="filter"
                @keypress="filterOnKeyPress"
        >
        <template v-if="null!==error">
            {{error}}
        </template>
        <template v-else>
            <ul>
                <li v-for="product in products" :key="product.id">
                    {{product.name}}
                </li>
            </ul>
        </template>
    </div>
</template>

<script>
    import axios from "axios";
    import _ from "lodash";

    export default {
        created: function () {
            this.debouncedGetProductByFilter = _.debounce(this.getProductByFilter, 500)
        },
        data: function () {
            return {
                filter: null,
                products: [],
                error: null
            }
        },
        methods: {
            filterOnKeyPress: async function () {
                await this.debouncedGetProductByFilter();
                // eslint-disable-next-line no-console
            },
            getProductByFilter: async function () {
                axios.get(`http://127.0.0.1:8000/product?filter=${this.filter}`)
                    .then((response) => {
                        this.error = null;
                        this.products = response.data.products;
                    })
                    .catch((error) => {
                        this.error = 'Ошибка! Не могу связаться с API. ' + error
                    })
            }
        },
    }
</script>
